@media (max-width: 768px) {
    .cart-item{
        width: 100%;
        max-width: 100%;
        min-width: 0;
    }
    
    .cart{
        min-height: auto;
        height: auto;
    }
    
    .cart-div{
        padding-bottom: 1rem;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .cart-item {
        max-width: 100%;
    }
}