@media (max-width: 768px) {
  .AboutMain {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .about-img{
    width: 100%;
    max-width: 100%;
    margin-top: 0;
    margin-left: 0;
    height: auto;
  }
  
  .sub-about{
    margin-top: 1.5rem;
    margin-left: 0;
    text-align: center;
    width: 100%;
    padding: 0 1rem;
  }
}