.wh {
    color: white;
}

.menu {
    display: none;
}

  


  @media (max-width: 768px) {
     .NavBar .item {
      display: none;
  }

  .Nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: visible;
  }
  
  .menu {
    display: block;
  }

  .port{
    margin-left: 0;
  }
  }
/* @media (max-width: 400px) {
  .Nav {
    width: 410px;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: visible;
   
  }

  


  .menu {
    display: block;
    margin-right: -580px;
  }

  .port{
    margin-left: 2px;
  }
} */

